<!DOCTYPE html>
<html>

<head>

    <head>
        <meta charset="UTF-8">
        <title>SHOPITESZ</title>
        <meta charset="utf-8">
        <link rel="stylesheet " href="Static/jss/bootstrap.min.css">
        <link rel="stylesheet" href="C:/Users/Cynthia/Documents/GitHub/Verano_Shopitesz_Eq8/Shopitesz/Static/css/estilos.css">
    </head>

    <body>
        <header>
            <center>
                <h1 class="textoEncabezado">Shopitesz</h1>
            </center>
            <right>
                <img class="ImgHeader" src="C:/Users/Cynthia/Documents/GitHub/Verano_Shopitesz_Eq8/Shopitesz/Static/img/shopitesz.png" width="100" height="100">
            </right>
        </Header>
        <center>

            <img class="ImgHeader" src="C:/Users/Cynthia/Documents/GitHub/Verano_Shopitesz_Eq8/Shopitesz/Static/img/principal.png">
            <br>
            <fieldset>
                <table style="width:100%">
                    <th>
                        <th><img class="ImgHeader" src="C:/Users/Cynthia/Documents/GitHub/Verano_Shopitesz_Eq8/Shopitesz/Static/img/DELL.png" width="200" height="200">Computadora marca Dell: $11000</th>
                        <th><img class="ImgHeader" src="C:/Users/Cynthia/Documents/GitHub/Verano_Shopitesz_Eq8/Shopitesz/Static/img/libro.png" width="200" height="200">Libro de programacion: $385</th>
                    </th>
                </table>
            </fieldset>
        </center>
    </body>
</head>
<a href="/productos" class="btn btn-success">Productos </a>
<br>
<a href="/validarSesion" class="btn btn-primary">Iniciar sesion</a>

</html>