<!DOCTYPE html>
<html>

<head>
    <title>SHOPITESZ</title>
    <meta charset="utf-8">
    <link rel="stylesheet " href="Static/jss/bootstrap.min.css">
    <link rel="stylesheet" href="C:/Users/Cynthia/Documents/GitHub/Verano_Shopitesz_Eq8/Shopitesz/Static/css/estilos.css">

    <body>
        <header>
            <center>
                <h1 class="textoEncabezado">ACCESO A LA TIENDA VIRTUAL</h1>
            </center>
            <right>
                <img class="ImgHeader" src="C:/Users/Cynthia/Documents/GitHub/Verano_Shopitesz_Eq8/Shopitesz/Static/img/shopitesz.png" width="100" height="100">
            </right>
        </header>
        <center>
            <fieldset>
                <img src="C:/Users/Cynthia/Documents/GitHub/Verano_Shopitesz_Eq8/Shopitesz/Static/img/logo.png" width="150" height="150" </header>
                <form action="#" method="POST" enctype="text/plain">
                    <label>Correo:</label>
                    <input type="email" name="correo" maxlength="50" required>
                    <br>
                    <label>Contraseña:</label>
                    <input type="password" name="clave" maxlength="20" required>
                    <br>
                    <a href="/templates/usuarios/registrarCuenta.html">Registrarme</a>
                    <input type="submit" value="validar">
                    <br>
                    <button>Iniciar Sesion</button>
                    <button>Cancelar</button>
                </form>
            </fieldset>
        </center>
    </body>
</head>

</html>