<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>SHOPITESZ</title>
    <meta charset="utf-8">
    <link rel="stylesheet " href="Static/jss/bootstrap.min.css">
    <link rel="stylesheet" href="C:/Users/Cynthia/Documents/GitHub/Verano_Shopitesz_Eq8/Shopitesz/Static/css/estilos.css">
</head>

<body>
    <header>
        <center>
            <h1 class="textoEncabezado">ACCESO A LA TIENDA VIRTUAL</h1>
        </center>
        <right>
            <img class="ImgHeader" src="C:/Users/Cynthia/Documents/GitHub/Verano_Shopitesz_Eq8/Shopitesz/Static/img/shopitesz.png" width="100" height="100">
        </right>
    </header>
    <h1>Registro de Cuentas</h1>
    <fieldset>
        <form action="#" method="POST" enctype="text/plain">
            <label>Nombre completo:</label>
            <input type="text" name="nombre" maxlength="50">
            <br>
            <label>Email:</label>
            <input type="email" maxlength="50">
            <br>
            <label>Direccion:</label>
            <input type="text" name="direccion" maxlength="60">
            <br>
            <label>Password:</label>
            <input type="password" name="clave" maxlength="20">
            <br>
            <label>Telefono:</label>
            <input type="tel" name="telefono" maxlength="12">
            <br>
            <label>Genero:</label>
            <input type="radio" name="genero" value="F">Femenino
            <input type="radio" name="genero" value="M">Masculino
            <br>
            <input type="submit" value="Registrar">
            <a href="/validarSesion">Validar cuenta</a>
        </form>
    </fieldset>
</body>

</html>